.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.login-box {
  background: #fff;
  padding: 32px;
  border-radius: 20px;
  width: 380px;
  max-width: 92%;
  position: relative;
  text-align: center;
}
.forgot-password {
  font-size: 13px;
  color: #000;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.forgot-password:hover {
  color: #555; /* subtle darkening on hover */
  text-decoration: underline; /* optional, keeps it natural */
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 18px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.title-login {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #000;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group-login{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-label-login {
  font-size: 14px;
  margin-bottom: 2px;
  color: #000;
}

.input-field-login {
  width: 100%;
  padding: 12px 14px;
  box-sizing: border-box;
  border-radius: 12px !important;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
  appearance: none;
}

.input-field:focus {
  border-color: #000;
}

.forgot-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.forgot-password {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.input-field-login.error {
  border: 2px solid red;
}

.error-text-login {
  color: red;
  font-size: 16px !important;
  margin-top: 6px;
  text-align: center;
}

.login-btn {
  margin-top: 10px;
  padding: 13px;
  border: none;
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:disabled {
  background: #777;
  cursor: not-allowed;
}

.divider {
  margin: 22px 0;
  font-size: 14px;
  color: #888;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.social-login button {
  border: none;
  background: #f2f2f2;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.signup {
  font-size: 14px;
  color: #000;
}
