* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.admin-page{
  display: flex;
  min-height: 100vh;
}
/* Container */
.orders-container {
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
}

/* Toolbar */
.toolbar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px 12px;
  width: 230px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn.primary {
  background: #0d47a1;
  color: white;
  border: none;
}

/* Table */
.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 12px 10px;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
}

/* Blue clickable text */
.blue-link {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}

/* Dropdown expand button */
.dropdown-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 3px;
}

/* Status Select Dropdown */
.status-select {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
  color: black;
  font-weight: 500;
}

/* Details Row */
.details-row td {
  background: #fafafa;
}

.details-wrapper {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.item-img {
  width: 65px;
  height: 65px;
  background: #ddd;
  border-radius: 8px;
}

/* Pagination */
.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pagination-controls button {
  padding: 6px 14px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 14px;
}
